{% extends 'base.html' %}

{% block title %} Liability {% endblock %}

{% block body %} 
	<div class="row">
		<div class="col-sm-6">
			<div class="card">
				<!-- <img class="card-img-top" data-src="holder.js/100%x180/" alt="Card image cap"> -->
				<div class="card-header">
					<h4 class="card-title">Liability Value<hr></h4>
				</div>
				<div class="card-body">
					<div id="donut">
						
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-6">
			<div class="card">
				<!-- <img class="card-img-top" data-src="holder.js/100%x180/" alt="Card image cap"> -->
				<div class="card-header">
					<h4 class="card-title">Liability over the months<hr></h4>
				</div>
				<div class="card-body">
					<div id="trends">
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Liability Name</th>
						<th>Type</th>
						<th>Value</th>
						<th>Date Acquired</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Plot in Kyanja</td>
						<td>Land</td>
						<td>10,000,000</td>
						<td>16th Dec 2013</td>
					</tr>
					<tr>
						<td>Land Rover</td>
						<td>Car</td>
						<td>20,000,000</td>
						<td>18th Nov 2011</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript">
		new Morris.Donut({
            element: 'donut',
            data: [{
                label: "Bank Loans",
                value: 2000000
            }, {
                label: "Unpaid Salaries",
                value: 1500000
            }, {
                label: "Pending Bills and Utilities",
                value: 4000000
            }],
            resize: true
        });

       


    </script>
    <script type="text/javascript">
    	new Morris.Bar({
            element: 'trends',
            data: 
            [
            	{Month: 'Nov', value: 74}, 
	            {Month: 'Dec', value: 20},
	            {Month: 'Jan', value: 40}, 
	            {Month: 'Feb', value: 25}, 
	            {Month: 'Mar', value: 31}
	        ],
            xkey: 'Month',
            ykeys: ['value'],
            labels: ['Number of sales']

        });
    </script>
{% endblock %}